p{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  color: rgb(96, 96, 96);
}
body{
  font-family: roboto,arial;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: rgb(245, 245, 245);
}
