.header{
  height:55px ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  background-color: white;
  border-bottom: solid 1px rgb(230, 224, 224);
  z-index: 100;
}
.left-section{
  display: flex;
  align-items: center;

}
.hamburger-icon{
  height: 25px;
  margin-left: 15px;
  margin-right: 24px;
}
.logo{
  height: 20px;
}
.middle-section{
  flex: 1;
  display: flex;
  align-items: center;
  max-width: 500px;
  margin-left: 63px;
  margin-right: 30px;
  
}
.search-bar{

  height: 36px;
  padding:1px 2px 1px 12px;
  font-size: 16px;
  border-color: rgb(192, 192, 192);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  width: 0;
  flex: 1;
}
.search-bar::placeholder{
  font-size: 16px;
}
.search-button{
  height: 40px;
  width: 66px;
  border-color: rgb(192, 192, 192);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  margin-left: -1px;
  background-color: (245, 245, 245);

}
.search-button,
.voice-search-button,
.upload,
.youtube-apps,
.notifications-icon-container{
position: relative;
display: flex;
justify-content: center;
align-items: center;
}
.search-button .tooltip, 
.voice-search-button .tooltip,
.upload .tooltip,
.youtube-apps .tooltip,
.notifications-icon-container .tooltip{
  position: absolute;
  background-color: rgb(83, 81, 81);
  color: white;
  padding: 8px 8px 8px 8px;
  font-size: 12px;
  bottom: -50px;
  border: 2px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;

}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload:hover .tooltip,
.youtube-apps:hover .tooltip,
.notifications-icon-container:hover .tooltip{
opacity: 1;
}

.search-icon{
 width: 25px;
}
.voice-search-button{
 border: none;
 height: 37px;
 width: 37px;
 margin-left: 15px;
 border-radius: 25px;
 background-color: (245, 245, 245);
}

.voice-search-icon{
 width: 30px;

}
.right-section{
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  margin-right: 24px;

}
.upload-icon{
 height: 25px;
}
.youtube-apps-icon{
  height: 25px;
}
.notifications-icon{
  height: 25px;
}
.notifications-icon-container{
 position: relative;
}
.notifications-count{
  color: white;
 background-color: rgb(203, 13, 13);
 position: absolute;
 top:-4px;
 right: -5px;
 padding: 1px 5px 1px 5px ;
 font-size: 11px;
 border-radius: 50px;
 border: solid 1px white;

}
.my-channel-profile{
  height: 30px;
}